{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'main/css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">




</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_body">
            <a href="#" class="header_logo">
                <img src="{%static 'main/img/logo.png'%}" alt="">
            </a>
                <div class="header_burger">
                    <span></span>
                </div>
            <nav class="header_menu">
                <ul class="header_list">
                    <li>
                        <a href="" class="header_link">Об Институте</a>
                    </li>
                    <li>
                        <a href="" class="header_link">Документы</a>
                    </li>
                    <li>
                        <a href="" class="header_link">Направления обучения</a>
                    </li>
                    <li>
                        <a href="" class="header_link">Контакты</a>
                    </li>

                    <li>
                        <a href="" class="header_link">Вакансии</a>
                       
                    <!--  
                         <ul class="header_sub_list">
                            <li>
                                <a href="" class="header_sub_link">тест</a>
                            </li>
                            <li>
                                <a href="" class="header_sub_link">тест2</a>
                            </li>
                        </ul>  -->
                    </li>

                    <li>
                        <a href="" class="header_link">Условия обучения</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="header_top">
    <div class="container">
        <h1>ИНСТИТУТ ДОПОЛНИТЕЛЬНОГО ПРОФЕССИОНАЛЬНОГО
            ОБРАЗОВАНИЯ И ОБУЧЕНИЯ</h1>
    </div>
</div>

<div class="content">
    <div class="container">
         <h4>Сайт саши</h4>
        <a href="{% url 'about' %}">О нас</a>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis cum numquam, est assumenda temporibus sit excepturi veritatis dignissimos sint, officia perspiciatis. Suscipit nam reiciendis ab iste sequi temporibus reprehenderit repellat.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde eius laudantium eos harum vitae quo iusto a maxime, sunt nisi beatae asperiores quidem labore. Ex quos perferendis consequatur delectus? Asperiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam adipisci aliquid, maxime qui vero incidunt perspiciatis aperiam esse, ex rerum iste blanditiis voluptatibus! Facere quasi deleniti repudiandae illum adipisci iste!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum molestiae perspiciatis adipisci voluptate blanditiis? Velit reprehenderit maxime quisquam, sint inventore iusto aliquid omnis consequuntur non deserunt ullam ut, molestias fugiat.
            Dolor nisi recusandae maiores repellat itaque vel beatae. Consequatur reiciendis minus reprehenderit, provident modi sequi amet ea fugit mollitia, repellat repudiandae nobis? A, in dolorem. Nostrum quos autem quibusdam doloribus!
            Voluptatibus distinctio doloremque adipisci ratione. Praesentium, quibusdam hic aut voluptates consequatur odit quae debitis quos, facere aliquam nam omnis quasi quis commodi, consequuntur aperiam. Praesentium hic eveniet est vel doloremque.
            Dolorem, dolor porro? Inventore delectus quis quos aliquam nisi necessitatibus dolorem tenetur aut ad, provident dolores eius in dolore culpa architecto. Ipsam explicabo culpa illo aspernatur nisi enim ut accusamus.
            Repudiandae eveniet pariatur voluptas, in eligendi ad aperiam nobis aliquam est quia doloribus sequi dolorem minus possimus eaque libero impedit! Similique modi sequi labore nulla libero. Eaque doloremque error dicta.
            Fugiat nesciunt illum tempora, quo itaque ipsum repudiandae veniam qui eum velit reprehenderit excepturi iure quis veritatis eligendi vel dolor aliquam mollitia at nobis. Minus reiciendis fugit quam repellat minima!
            Rem accusantium iure tempore veritatis fuga quibusdam voluptatum aut maxime debitis? Libero ea aliquid expedita veritatis temporibus rem quis. Illo nulla commodi perferendis fuga debitis excepturi deleniti consequatur itaque tempore.
            Tenetur vitae, sequi voluptatibus ipsam magni unde repudiandae soluta sint rem non iure corporis, consequatur quia. Fugit nostrum odio voluptatem quaerat quam fuga blanditiis, voluptatibus excepturi, sequi quibusdam, enim accusantium.
            Quibusdam, quos? Porro neque odio corrupti quos aut iure dicta sit voluptatem sequi officiis, illo quidem nihil numquam quibusdam voluptas praesentium. Excepturi vitae asperiores error quos nostrum debitis fuga earum!
            Odio, dignissimos consectetur obcaecati aperiam eos cupiditate veniam maiores iure totam molestias mollitia libero saepe, nulla ea facere, impedit ex numquam doloribus eaque quis illo nesciunt culpa sapiente quisquam! Qui.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio culpa eveniet provident possimus. Autem, temporibus expedita! Magni ipsum voluptatem nam at a ipsa dolorum, iusto unde eos dolorem illo nemo.
            Soluta debitis porro repellat harum ipsam error quae, nihil quod optio, odit reiciendis eaque quos libero aperiam culpa molestias nobis blanditiis rem quia quidem inventore. Nulla aspernatur blanditiis alias facere.
            Atque fugiat recusandae ipsum voluptatibus distinctio similique optio esse laboriosam. Totam voluptatem, laudantium minima dolorum inventore explicabo sed perspiciatis rem dolore dolorem, sequi necessitatibus ducimus pariatur ab. Nemo, dolorem earum.
            Mollitia nulla, fuga consectetur maiores nobis alias similique iusto consequuntur. Odio vitae ea eos possimus ad aperiam in esse porro molestiae architecto ducimus dolore unde dignissimos tenetur doloribus, rerum similique?
            Voluptatibus, totam cumque. Ut officia molestias a architecto ipsa quod nobis at assumenda aut harum. Labore cupiditate quod quaerat vel sint voluptatibus consectetur fugiat maiores nesciunt, repellat eaque. Vel, saepe?
            Dignissimos magnam possimus quam nostrum error magni voluptatem, molestiae totam officia distinctio! Corporis officia neque culpa architecto, iste modi unde blanditiis quidem facere, maiores non eos, quae quo repellendus est!
            Recusandae nobis, minus nam sunt sed laborum, debitis enim aliquam nulla, optio officia perspiciatis doloribus modi. Numquam fugiat ipsam soluta obcaecati praesentium quidem a eveniet debitis veniam, laudantium reprehenderit. Omnis!
            Repellat placeat doloremque natus atque eaque vel amet laudantium blanditiis autem itaque ad provident odit ullam error nobis corporis nesciunt, architecto in totam tenetur quibusdam perferendis expedita. Explicabo, ut delectus.
            Aliquid nihil, ipsam qui porro ad enim officiis vel et accusantium voluptas, adipisci in consectetur consequatur inventore placeat praesentium explicabo obcaecati quasi rerum, a harum quia optio perferendis. Autem, natus?
            Nesciunt provident maxime ad earum. Earum modi sint fugit autem est, at cum error dolorem. Minus, fugiat incidunt accusantium nobis quos, iusto iure beatae rem architecto molestias quod debitis voluptas.
            Esse quidem in assumenda magni voluptatem! Ex quos voluptates ab tenetur natus provident officia aspernatur cum culpa, at aut? Architecto consequatur reprehenderit commodi quisquam similique nulla sit. Ad, aut sapiente?
            Minima laboriosam iure velit doloribus expedita quibusdam est officia ipsam aliquam repudiandae. Magnam eaque sequi cumque vitae, officiis dolore ipsum commodi exercitationem omnis possimus nulla? Amet quia illo minus perspiciatis.
            Eveniet libero, sunt cum perferendis veritatis fugiat voluptas aliquid culpa et illo doloribus voluptatibus totam doloremque nulla quasi facere tempore enim debitis excepturi aperiam? Iure delectus ducimus voluptatem quaerat amet?
            Velit vero, fuga ullam vel voluptatem in eum quidem doloribus hic fugit animi quo voluptates, saepe, asperiores omnis magni modi corporis! Quam debitis sapiente nostrum voluptas, quos eaque ducimus adipisci?
            Ipsam sapiente itaque odit voluptatibus consequatur! Molestiae distinctio repudiandae voluptates assumenda vel perferendis quibusdam magnam quaerat vitae culpa exercitationem est deserunt ullam, ad maxime quia. Corporis voluptates reprehenderit magnam aut!
            Laboriosam vel dicta fuga pariatur assumenda soluta nam tempora iure quis, deserunt quaerat, modi doloremque ullam ad cum consectetur atque molestiae perferendis fugit quia accusamus? Saepe ab voluptates aliquid nihil.
            Molestias eius necessitatibus aliquid repellendus iste beatae excepturi, dolorem facilis quas dolorum at reiciendis a aut culpa corrupti. Nesciunt fugit impedit velit ipsum sunt asperiores cumque, autem vero saepe ea?
            Distinctio error dolorum quasi, a molestiae laboriosam? Dolor dicta illum modi animi quo, corporis eius pariatur, voluptatibus repudiandae ipsam accusantium qui ullam libero. Excepturi ut sunt iste tenetur similique quidem.
            Accusamus eaque hic, architecto quaerat assumenda maxime sit exercitationem numquam vel, non voluptatem! Debitis repellendus incidunt eos? Explicabo fuga expedita non assumenda voluptas dolorem perspiciatis alias, fugiat doloribus inventore? Illo.
            Voluptatibus debitis consequatur dolorem quibusdam rerum saepe, a quos velit blanditiis et recusandae tempore praesentium officiis! Maxime in nesciunt quas, dolor odio fuga? Odit dolor, adipisci cupiditate quos eligendi autem.
            Iure at nostrum est enim, ad sit consequuntur, pariatur fugiat non cumque incidunt dolorum adipisci quisquam ex maxime minima recusandae atque, sapiente ipsam! Unde minus illo quasi cum laborum? Porro!
            Repellendus cum harum quo dignissimos labore. Unde asperiores fugit debitis magnam, autem ullam quidem aspernatur vero, hic consequuntur sit labore! Recusandae perspiciatis placeat nesciunt expedita, itaque nam accusamus voluptatum porro?
            Impedit error alias, saepe porro dolor pariatur. Aperiam delectus veritatis voluptatibus temporibus nobis doloribus ipsam incidunt modi neque. Distinctio omnis magnam incidunt magni ipsa. Illo ratione sed ad facilis error!
            Dolor delectus quaerat, quam quo ducimus, et vitae odio ipsa facere suscipit quisquam? Exercitationem sapiente perferendis nihil dicta, aliquam assumenda dignissimos fugiat, ex eos consequatur quos. Ex et officia totam!
            Quaerat atque necessitatibus, illo rem adipisci, optio facilis expedita obcaecati, quibusdam odio sit! Fuga sapiente enim animi perspiciatis beatae maxime possimus. Reiciendis natus laborum aliquam ab veritatis possimus inventore adipisci?
            Aperiam sequi quas eveniet laudantium quam dicta molestias eum labore quasi omnis! Similique cum quod adipisci vitae reiciendis numquam sint, sapiente dolor, saepe incidunt obcaecati, impedit quidem asperiores suscipit laudantium?
            Perspiciatis enim explicabo nam reiciendis ipsum praesentium vitae natus tenetur ducimus corporis deleniti doloremque cumque sint accusantium dolor, est facilis sapiente dolorum, dolore obcaecati officia, sed nesciunt? Vel, dolores obcaecati!
            Qui inventore officia, tenetur quae amet nulla repudiandae voluptatibus libero distinctio. Dolores fuga autem eius, accusamus tenetur ad placeat doloremque quibusdam quos dolor corrupti neque eaque quaerat, excepturi minima cupiditate.
            Adipisci rerum ducimus quam placeat illo officiis iste ullam beatae a modi culpa reprehenderit nesciunt repellat fugit fugiat, possimus repudiandae cupiditate nulla. Quia provident architecto, ab quibusdam magnam repudiandae quo.
            Enim nihil dolores unde consectetur possimus facere beatae inventore optio veritatis debitis dolor, ut, magni quas, iure repudiandae! Pariatur dolorum suscipit, sequi quos cupiditate blanditiis amet optio voluptate nostrum animi!
            Reiciendis voluptatum vero ducimus tenetur sint in enim error iste. Tenetur ipsa a perspiciatis deleniti ab commodi unde, fugiat, qui ducimus rerum nam sequi quas nihil laudantium sunt magnam cupiditate.
            Vitae eum molestias dolore quasi eaque repellendus, ullam fugit quibusdam obcaecati hic repellat laborum corrupti assumenda sunt molestiae consequuntur odio libero nemo provident animi at! Rem itaque ea aspernatur vel?
            Culpa quasi qui autem recusandae quibusdam deleniti et, optio aut repudiandae reprehenderit quas nobis veniam rem quos fugit nulla non officiis! Fugiat enim qui error, aut illum quod dolores officiis.
            Iusto consectetur, non doloremque consequatur adipisci odit officia natus inventore deserunt quod harum culpa dolores qui deleniti aspernatur facilis voluptatum ea perspiciatis saepe repellendus rerum similique ratione iure porro. Atque.
            Assumenda libero, facilis incidunt nulla harum suscipit tenetur molestiae, omnis officia dolorum dolor. At consequuntur enim sit repellat adipisci qui iure, porro ducimus illum doloribus beatae repellendus, iusto exercitationem quasi!
            Ad repudiandae sit, eligendi, quis consequuntur animi nostrum inventore enim voluptatibus obcaecati, soluta recusandae autem dicta. Omnis dolore consequuntur tenetur odio rem non voluptatum, voluptate error, reprehenderit libero quam nihil!
            Quidem voluptatem necessitatibus quibusdam? Vel deserunt rerum dolorum laboriosam odio ipsa facere aliquam officiis dignissimos modi, molestias porro hic optio temporibus harum odit explicabo dolor labore pariatur? Sit, enim laborum?
            Laborum hic optio tenetur iste cupiditate accusamus vero sit rerum voluptatem repellendus quisquam perspiciatis mollitia eaque magni et dolores nisi corrupti eligendi nemo qui, quo numquam quod? Alias, error deserunt?
            Magnam error reprehenderit quae enim ea optio dignissimos labore ut cum quisquam fuga iure ullam totam, consequuntur laudantium facilis quos eum numquam voluptates? Minima odit obcaecati, temporibus rem voluptatem blanditiis!
            Repellendus quidem delectus id veritatis natus cum maiores, at inventore corporis quae praesentium mollitia voluptatem esse illum ullam hic earum culpa expedita commodi voluptatum. Fuga velit vero amet impedit vel!
            Laborum explicabo similique aliquid deleniti dignissimos numquam ab praesentium, repellat eaque veritatis, temporibus officiis nulla dicta tempore cumque fugiat reiciendis exercitationem animi excepturi alias! Laboriosam explicabo iusto ducimus qui tempora!
            Illum cumque, et officia odit aspernatur distinctio a reiciendis sunt iste, quibusdam eaque repellendus! Nihil assumenda sunt blanditiis placeat mollitia ducimus nemo. Mollitia distinctio cum perferendis labore aliquam? Amet, est.
            Dolores quia libero quisquam aut, facere nisi nulla veniam doloribus iure modi ad expedita at optio eos id. Saepe suscipit explicabo neque atque recusandae est obcaecati dolorum cupiditate molestias repudiandae?
            Cum quaerat, tenetur maiores, debitis quidem quasi velit quos fuga architecto ab sequi repellat qui veniam veritatis sint ipsam unde aspernatur nulla ad exercitationem voluptatum rem id? Perferendis, commodi? Praesentium.
            Architecto quae, minima voluptatum iure sequi necessitatibus qui, neque nam, debitis natus voluptate repellendus nesciunt velit. Eveniet asperiores rerum magnam, non nulla recusandae eos accusantium ea facere dolores ad rem.
            Illum neque dicta expedita praesentium maxime aut laborum magni consequuntur exercitationem ea accusamus reprehenderit reiciendis ut illo impedit repudiandae, doloremque nostrum ullam incidunt sunt quae quisquam minus. Laudantium, mollitia ratione?
            Repellat nobis corporis voluptatibus, tempore ipsa ex aliquid quibusdam facilis soluta, dolorum, velit alias. Veritatis nihil ipsum officiis recusandae quidem non reprehenderit, pariatur odit a rem laboriosam, minus in ratione!
            Dolores corrupti nulla, sit fuga, consequatur nam totam est maiores amet reprehenderit animi voluptatem adipisci officia quisquam, quas mollitia porro. Voluptates incidunt optio qui enim unde, dignissimos temporibus excepturi fugiat!
            Sed, sit distinctio? Odio excepturi reprehenderit enim fugiat tempora animi exercitationem blanditiis vel fuga voluptatum recusandae consequuntur quos ex, repellendus voluptates assumenda est repellat obcaecati, expedita nulla mollitia nam? Quod?
            Hic saepe qui laborum ratione voluptas maiores perferendis, vel eius officiis cumque nihil quasi ex non a animi deserunt dignissimos sint! Aperiam ipsum iste soluta numquam laboriosam architecto aliquam quia.
        </div>
        {% block content %}{% endblock %}
    </div>
</div>






<!-- js -->
    <script ENGINE="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="{%static 'main/js/script.js'%}"></script>
</body>
</html>